// font
$fontPopins: 'Poppins', sans-serif;
$fontNormal: 400;
$fontBold: 700;


// color

$colorWhite: #fff;
$colorRadGradient: radial-gradient(rgba(255, 128, 0, 1), rgba(227, 65, 65, 1));
$colorLinGradient: linear-gradient(#FD749B, #281AC8);
$colorPink: rgba(253, 116, 155, 1);
$colorBalls: #D8D8D8;
$colorBg: #E5E5E5;
$colorBlackText: #333333;
$colorGreyText: #A2A2A2;
$colorCopyText: #989898;
$colorBlogText: #888888;
$colorFeedBack: rgba(196, 196, 196, 0.9);
